version: "3.9"
services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bin/dev"
    volumes:
      - .:/myapp:cached
      - bundle:/usr/local/bundle
      - node_modules:/myapp/node_modules
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - 3000:3000
    stdin_open: true
    tty: true
    environment:
      REDIS_URL: redis://redis:6379
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - redis:/data


volumes:
  bundle:
  postgres_data:
  node_modules:
  redis:
